<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

<sly data-sly-use.countrystate="com.project.core.models.CountryStateWithMap">

    <sly data-sly-call="${clientlib.all @ categories='countryStateMap'}"
         data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"/>
    <span data-resourcepath=${resource.path} id="pagePath"> </span>
    <center>
        <div class="container">
            <br>
            <h2> Country State Dropdown </h2>
            <select class="form-select" id="country" name="country">
                <option value=''>Select a Country</option>
            </select>

            <select class="form-select" id="state" name="state">
                <option value=''>Select a State</option>
            </select>
            <br>
        </div>
    </center>
</sly>